* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/*------ GENERAL -----*/


body {
    font-family: 'Handlee', cursive;
    color: #444444;
    height: 100%;
}
  a:hover {
    color: #ffc107;
    text-decoration: none;
  }

p {
    color: #424d58;
}
  
/*------ NAV MENU -----*/
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #424d58;
  }
  
  .logo h1 {
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-size: 36px;
    color: #fff;
    line-height: 1;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    font-weight: 800;
  }
  
  .logo h1 span {
    color: #ffc107;
    font-size: 36px; 
    font-weight: bold;
    padding-left: 10px;
    font-family: 'Dancing Script', cursive;
 }

  nav{
    background: #424d58;
    height: 80px;
    width:100%;
}
nav ul {
    float:right;
    margin: 0;
    padding-right: 30px;
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;  
}
nav li {
    font-size: 24px;
    padding: 0 50px;
}

nav ul a {
    color:#fff;
    font-size: 20px;
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
  }
  
  nav a:hover::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%; /* move the underline to the center */
    transform: translateX(-50%); /* center the underline */
    width: 60%; /* reduce the width of the underline */
    height: 2px;
    background-color: #ffc107;
  }
  /*---- Main section ----*/

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-text {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    margin-left: 100px;
    padding-left: 100px;
  }
  
  .text-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
  }
  
  .text-wrapper h2 {
    position: relative;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family:'Dancing Script', cursive; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000;
    align-self: flex-start;
  }

  .text-wrapper p {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    line-height: 2rem;
  }
  .text-wrapper button {
    position: relative;
    left:0;
    background-color: transparent;
    font-family:'Dancing Script', cursive; 
    padding: 5px 10px;
    border: solid #ffc107;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
    justify-content: flex-end;
  }

  .text-wrapper button a {
    color: #fff;
    font-weight: bold;
  }
  .text-wrapper button a:hover{
    color:#ffc107;
    transition: .5s;
  }
  .text-wrapper button:hover {
    background-color: white;
    transition: .5s;
  }
  /*------ CONTENT SECTION -----*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ccc;
  }

  .grid-item2 {

    background-color: red;
  }